{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to BigCorp</title>
    <link rel="stylesheet" href="{% static 'ManShop/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/montserrat.css' %}"/>
  </head>

  <body style="font-family: 'Montserrat', sans-serif;">
    <div id="welcome" class="welcome" >Welcome to ManShop</div>
    <a href="{% url 'shop:products' %}"><div id="box1" class="box box1 ">Start Shopping</div></a>
<!--    <div class="box box2">News</div>-->
<!--    <div class="box box3">Etc</div>-->
  </body>

<script src="{% static 'ManShop/js/box-change.js' %}"></script>

</html>